.App {
  display: flex;
  align-items: center;
  background-color: #999;
}
.you {
  border: 1px solid black;
  height: 400px;
  width: 400px;
  margin: 50px;
  display: flex;
  justify-content: space-around;
}

.dealer {
  border: 1px solid black;
  height: 400px;
  width: 400px;
  margin: 50px;
}

.active {
  background-color: green;
}

.red {
  color: red;
}
.black {
  color: black;
}

.cardPresentation {
  font-size: 20px;
  padding: 10px;
}
